.password-requirements {
    margin-top: 5px;
    color: #777; // Puedes ajustar el color según tus preferencias
    font-size: 12px;
  }
  
  .validators {
    color: red; // Color para los mensajes de error
    font-size: 12px;
    margin-top: 5px;
  }